<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>欢迎来到乐乐说</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <link rel="stylesheet" href="/public/admin/css/common.css" />
    <link rel="stylesheet" href="/public/admin/css/index.css" />
    <link rel="stylesheet" href="/public/admin/css/cbb.css" />
    <link rel="stylesheet" href="/public/admin/css/second.css" />
    <link rel="stylesheet" href="/public/admin/css/third.css" />
    <link rel="stylesheet" href="/public/admin/css/five.css" />
    <!-- 引入组件库 -->
    <script type="text/javascript" src="/public/admin/js/vue.js"></script>
    <script type="text/javascript" src="/public/admin/js/jsencode.js"></script>
    <script type="text/javascript" src="/public/admin/js/jsencrypt.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
</html>
