<%- include ./public/support.html %>

<body>
  <div id="resgister">
    <div class="don-login-box">
      <el-row>
        <el-col
          :xl="{ span: 18 }"
          :lg="{ span: 16 }"
          :md="{ span: 14 }"
          :sm="{ span: 10 }"
          :xs="{ span: 0 }"
          class="login-bg"
          >&nbsp;&nbsp;</el-col
        >
        <el-col
          :xl="{ span: 6, offset: 0 }"
          :lg="{ span: 8, offset: 0 }"
          :md="{ span: 10, offset: 0 }"
          :sm="{ span: 14, offset: 0 }"
          :xs="{ span: 24, offset: 0 }"
          class="login-box"
        >
          <div class="login-title">
            <h1>乐乐说-Node.js后台管理系统</h1>
          </div>
          <el-form
            ref="loginForm"
            :model="loginForm"
            :rules="loginRules"
            class="login-form"
          >
            <div class="title">用户登陆</div>
            <el-form-item prop="username">
              <el-input
                v-model="loginForm.username"
                type="text"
                auto-complete="off"
                @focus="isUsername = true"
                @blur="isUsername = false"
                placeholder="用户名"
              >
                <img
                  src="/public/admin/images/user.svg"
                  v-bind:class="{ 'color-class': isUsername }"
                  class="input-icon"
                ></img>
              </el-input>
            </el-form-item>
            <el-form-item prop="password">
              <el-input
                v-model="loginForm.password"
                type="password"
                auto-complete="off"
                placeholder="密码"
                @focus="isPassword = true"
                @blur="isPassword = false"
                @keyup.enter.native="handleLogin"
              >
              </el-input>
            </el-form-item>
            <el-form-item style="width: 100%; margin-top: 25px">
              <el-button
                :loading="loading"
                size="medium"
                type="primary"
                style="width: 100%"
                @click.native.prevent="handleLogin"
              >
                <span v-if="!loading">登 录</span>
                <span v-else>登 录 中...</span>
              </el-button>
            </el-form-item>
            <el-row >
              <el-col :span="18">
                <el-checkbox v-model="loginForm.rememberMe">记住密码</el-checkbox>
              </el-col>
              <el-col :span="6">
                 <a  href="/register"><span class="resgister">还没有账号？</span></a>
              </el-col>
            </el-row>
            <div class="login-tip">
              温馨提示：请使用Chrome，IE7.0及以上版本.
            </div>
          </el-form>
          <div class="login-bottom">
            <span class="circular-box">
              <span class="circular" v-for="item in 40" :key="item"></span>
            </span>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</body>
<script>
  new Vue({
    el: '#resgister',
    data() {
      return{
        title:'注册页面',
        active: 0
      }
    },
    created() {
    },
    methods: {
      next() {
        if (this.active++ > 2) this.active = 0;
      }
    },
  })
</script>
